.centered {
    text-align: center;
}

.smaller {
    font-size: x-large;
}

.even-smaller {
    font-size: large
}

.and-even-smaller {
    font-size: medium
}

.and-smaller-than-that {
    font-size: small
}

.mono {
    font-family: monospace, monospace;
}

.shift-left {
    margin-left: -210px;
}

#first-view-of-board:not(.active) {
    display: none;
}

#empty-board:not(.active) {
    display: none;
}

#statistics:not(.active) {
    display: none;
}

#first-energy-towers:not(.active) {
    display: none;
}

#first-energy-towers-built:not(.active) {
    display: none;
}

#first-attack-towers:not(.active) {
    display: none;
}

#first-attack-towers-built:not(.active) {
    display: none;
}

#first-defense-towers:not(.active) {
    display: none;
}

#first-defense-towers-built:not(.active) {
    display: none;
}

#iron-curtain-built:not(.active) {
    display: none;
}
